 /* The navigation menu */
.navbar {
		overflow: hidden;
		background-color: #333;
}

/* Navigation links */
.navbar a {
		float: left;
		display: block;
		padding: 14px 16px;
		text-decoration: none;
		text-align: center;
		font-size: 20pt;
		background-color: #333;
		color: #ddd;
}

/* The subnavigation menu */
.subnav {
		float: left;
		overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
		border: none;
		outline: none;
		padding: 14px 16px;
		margin: 0;
		font-family: inherit;
		font-size: 20pt;
		background-color: inherit;
		color: inherit;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
		background-color: #ddd;
		color: #333;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 1;
		color: #111;
}

/* Style the subnav links */
.subnav-content a {
		float: left;
		text-decoration: none;
		background-color: #bbb;
		color: #111;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
		background-color: #222;
		color: #ddd;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
		display: block;
}

/* Active Menu Item*/
#actnav {
		background-color: #700;
		color: #ddd;
}




/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
