html {
		font-family: 'Metal Mania', cursive;
		font-size: 20px;
		background-color: #000;
		color: #eee;
}

body {
		margin: 0 auto;
		background-color: #111;
		color: #eee;
}

header {
		top: 0;
		width: 100%;
		font-size: 50px;
		letter-spacing: 20px;
		text-align: center;
		color: #a63;
}

footer {
		padding: 20px 0;
		width: 100%;
		font-size: 10px;
		text-align: center;
		background-color: #000;
		color: #ddd;
}

h1 {
		margin: 0;
		padding: 25px 0;
		text-align: center;
}

p {
		line-height: 1;
		letter-spacing: 10px;
}

img {
		display: block;
		margin: 0 auto;
}
